---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="no">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      ul li * {
        text-decoration: none;
        transition: 0.2s ease;
      }
      ul li img {
        margin-bottom: 0.5rem;
        border-radius: 12px;
				height: 200px;
				width: 100%;
				object-fit: cover;
      }
      ul li a {
        display: block;
      }
      .title {
        margin: 0;
        line-height: 1;
        font-size: 1.5rem;
      }
      .date {
        margin: 0;
        font-size: 1rem;
      }
      ul a:hover img {
        box-shadow: 0 2px 6px #0c1c351c;
      }
      @media (max-width: 720px) {
        ul {
          gap: 0.5em;
          grid-template-columns: 1fr;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <h1>Capra blogg</h1>
      <p>
        Her på bloggen skriver vi om det som interesserer oss av tech, ting som skjer der ute i bransjen vår og andre happenings i Capra.
      </p>
      <section>
        <ul>
          {
            posts.map((post, index) => (
              <li>
                <a href={`/${post.slug}/`}>
                  <img
                    width={720}
                    height={360}
                    src={post.data.heroImage}
                    alt=""
                    fetchpriority={index < 2 ? 'high' : 'auto'}
                    decoding={index < 2 ? 'sync' : 'async'}
                  />
                  <h2 class="title">{post.data.title}</h2>
                  <p class="date">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
