---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, intro, description, pubDate, author, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			article {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.hero-image {
				width: 100%;
				margin-bottom: 1em;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<h1>{title}</h1>
				{intro && <p>{intro}</p>}
				<div class="hero-image">
					{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
				</div>
				<div>{author}</div>
				<div class="date">
					<FormattedDate date={pubDate} />
				</div>
				<hr />
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
