---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, intro, description, pubDate, author, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			article {
				padding: 1em;
				max-width: 600px;
				margin: auto;
			}
			.hero-image {
				width: 100%;
				margin-bottom: 1em;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: 0 2px 6px #0c1c351c;
			}
			.date {
				margin-bottom: 0.5em;
				color: var(--color-capra-2);
				font-size: 0.9rem;
			}
			.intro {
				font-weight: 500;
			}
			.author {
				color: var(--color-capra-2);
				font-size: 0.9rem;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<h1>{title}</h1>
				{intro && <p class="intro">{intro}</p>}
				<div class="hero-image">
					{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
				</div>
				<div class="author">{author}</div>
				<div class="date">
					<FormattedDate date={pubDate} />
				</div>
				<hr />
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
